<%- include("partials/header") %>
<div class="home-page">
	<div class="home-heading">
		<span class="home-invert">WELCOME TO </span>XYZ BANK
	</div>
	<div class="home-para">This is the best place for easy , fast and secure Money Transfer</div>
	<a href="/view" class="home-btn">Transfer Now <div class="toggle">></div></a>
</div>
	
<%- include("partials/footer") %>
